@font-face {
    font-family: 'Chronicle Display Roman';
    src: url('../fonts/Chronicle_Display_Roman.otf');
}

@font-face {
    font-family: 'Chronicle Display Bold';
    src: url('../fonts/Chronicle_Display_Bold.otf');
}


/* STANDARD STYLES */
p {
    font-family: 'Chronicle Display Roman';
    font-size: 16px;
    line-height: 24px;
    color:rgb(153, 153, 153);
    text-align: center;
}
h3 {
    font-family: 'Chronicle Display Bold';
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.64px;
    color:rgb(1, 63, 127);
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
}


/* PURE CSS STYLES */
.main-container {
    display: flex;
    height: 100vh;
}
.image {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 100%;
    min-height: 1080px;
}
@media screen and (max-width: 45em) {
    .image {
        display: none;
    }
}
.image-responsive {
    display: none;
}
@media screen and (max-width: 45em) {
    .image-responsive {
        display: block;
        height: 40%;
        background-image: url(../img/main.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.logo {
    display: block;
    width: 200px;
    margin: 3em auto 0 auto;
}
@media screen and (max-width: 45em) {
    .logo {
        margin: 0 auto;
    }
}
.line {
    border-bottom: 1px solid rgb(233, 233, 233);
    margin: 2.5em 0;
}


/* FORM STYLES */
.form {
    padding: 1.5em;
}
input[type=text] {
    border: none !important;
    border-bottom: 1px solid rgb(33, 66, 125); !important;
    font-family: 'Chronicle Display Roman', serif !important;
    font-size: 16px !important;
    color: rgb(33, 66, 125) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-bottom: 1.5em !important;
}
input::placeholder {
    color: rgb(33, 66, 125);
}
.form-label {
    font-family: 'Chronicle Display Roman', serif !important;
    font-size: 16px !important;
    color: rgb(33, 66, 125); !important;
}


/* CHECKBOX STYLES */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(33, 66, 125);
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgb(33, 66, 125);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* NEWSLETTER CHECKBOX STYLES */
.newsletter {
    color: rgb(153, 153, 153) !important;
}
.newsletter .container {
    font-size: 14px !important;
}
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
}
.newsletter .container input:checked ~ .checkmark2 {
    background-color: rgb(153, 153, 153);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.newsletter .container input:checked ~ .checkmark2:after {
    display: block;
}
/* Style the checkmark/indicator */
.newsletter .container .checkmark2:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.submit-form {
    display: block;
    width: 200px;
    height: 50px;
    font-family: 'Chronicle Display Bold', serif !important;
    font-size: 16px !important;
    margin: 0 auto;
    border: none;
    background-color: rgb(33, 66, 125);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 8, 16, 0.5);
}
@media screen and (max-width: 45em) {
    .submit-form {
        margin: 3em auto 0 auto !important;
    }
}
.social-media {
    font-size: 1.7em;
    text-align: center;
    margin-top: 1em;
}
@media screen and (max-width: 45em) {
    .social-media {
        margin: 1em auto 3em auto !important;
    }
}
a:link {
    text-decoration: none;
    color: rgb(33, 66, 125);
}
a:hover {
    color: rgb(33, 66, 125);
}
a:visited {
    color: rgb(33, 66, 125) !important;
}
a:active {
    color: rgb(33, 66, 125);
}